@import '../../styles/scss/global_styles/_variables';
@import "../../styles/scss/global_styles/mixins";
@import "../../styles/scss/global_styles/animations";

.contentWrapper {
  @include flex-box($flex-box-row-left...);

  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 1.2em 0;


  .remarkCol {
    box-sizing: border-box;
    padding: 0.2em 0.5em;
    width: 5em;

    .remark {
      display: block;
      @include init-font(0.75em, 400);
      line-height: 1.1em;
    }
  }

  .contentBlock {
    //flex-basis: 80%;
    flex-grow: 1;


    h3 {
      margin-bottom: 10px;

      @include init-font(18px, 700);
    }

    h4 {
      margin-bottom: 17px;

      @include init-font(16px, 400);
    }
  }

  p {
    margin-top: 20px;
    text-align: justify;
  }

  ul {
    list-style: disc inside;

    li {
      margin-bottom: 5px;
    }
  }

  .link {
    padding: 0 10px;
    @include transition();

    &:hover {
      transform: translateX(5px);
      color: $foxy
    }
  }
}