@import '../../styles/scss/global_styles/_variables';
@import "../../styles/scss/global_styles/mixins";
@import "../../styles/scss/global_styles/animations";

.contentWrapper {
  @include flex-box($flex-box-row-left...);

  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 20px auto;


  .remarkCol {
    width: 90px;

    .remark {
      display: block;
    }
  }

  .contentBlock {
    flex-basis: 80%;
    flex-grow: 1;
    @include init-font(20px, 400);
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      @include init-font(18px, 400);
      padding-left: 10px;
      padding-right: 0;
    }

    h4 {
      margin-top: 5px;
      @include init-font(20px, 400);
    }
  }

  p {
    margin-top: 20px;
  }

  ul {
    list-style: disc inside;
    margin-top: 15px;

    li {
      margin: 5px auto;
    }
  }

  .link {
    color: $violet;
    padding: 0 10px;
    @include transition();

    &:hover {
      transform: translateX(5px);
      color: $foxy
    }

    @media screen and (max-width: 1024px) {
      @include init-font(16px, 400);
    }
  }
}