$flex-box-row-center: row, center, center;
$flex-box-row-between: row, space-between, center;
$flex-box-row-left: row, flex-start, center;
$flex-box-row-top: row, center, flex-start;
$flex-box-row-start: row, flex-start, flex-start;
$flex-box-col-left: column, center, flex-start;
$flex-box-col-center: column, center, center;
$flex-box-col-top: column, flex-start, center;

///MIXIN

@mixin flex-box ($flow, $justify, $align) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $time: 0.3s) {
  transition: $property $time ease-in-out;
}

@mixin init-font ($font-size, $font-weight) {
  font: {
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin text-shadow($dim, $shadow) {
  text-shadow: $dim $dim $shadow rgba(0,0,0,0.8);
}

@mixin box-shadow($dim, $shadow) {
  box-shadow: $dim $dim $shadow rgba(0,0,0,0.8);
}

@mixin scroll-init($width, $thumbColor, $trackColor) {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Handle */
  &:hover::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
  }

  /* Track */
  &:hover::-webkit-scrollbar-track {
    background-color: $trackColor;
  }
}

@keyframes glitching {
  0% {
    transform: translate3d(-10px,0,0) scale3d(-1,-1,1);
    clip-path: polygon(0 20%,100% 20%,100% 21%,0 21%);
  }
  2% {
    clip-path: polygon(0 33%,100% 33%,100% 33%,0 33%);
  }
  4% {
    clip-path: polygon(0 44%,100% 44%,100% 44%,0 44%);
  }
  5% {
    clip-path: polygon(0 50%,100% 50%,100% 20%,0 20%);
  }
  6% {
    clip-path: polygon(0 70%,100% 70%,100% 70%,0 70%);
  }
  7% {
    clip-path: polygon(0 80%,100% 80%,100% 80%,0 80%);
  }
  8% {
    clip-path: polygon(0 50%,100% 50%,100% 55%,0 55%);
  }
  9% {
    clip-path: polygon(0 70%,100% 70%,100% 80%,0 80%);
  }
  9.9% {
    transform: translate3d(-10px,0,0) scale3d(-1,-1,1);
  }
  10%, 100% {
    transform: translateZ(0) scaleX(1);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
}


