@use "../../styles/global_styles/root" as root;

.totalWrapper {
  //font-size is in #root with rem, which is changed by media queries
  position: relative;
  width: 100%;
  background-color: root.$white;

  @include root.flex-box(row, center, flex-start);
  @include root.box-shadow(2px, 8px);
}

.wrapper-on-scroll {
  position: fixed;
  //max-width: $maxWidth;
  //width: calc(100% - 3em);
  width: 100%;
  top: -100px;
  left: 0;
  //margin: 0 1.5em;

  @include root.flex-box(row, center, center);

  &.scroll-active {
    top: 0;
  }

  @include root.transition();

  .bar-on-scroll {
    width: 100%;
    max-width: calc(#{root.$maxWidth} - 1em);
    margin: 0 0.5em;
    background: linear-gradient(90deg, root.$white, root.$foxy);
    opacity: 0.97;

    @include root.flex-box(row, flex-start, center);

    .elem-on-scroll {
      display: inline-block;

      @include root.init-font(1.2em, 700);
      @include root.text-shadow(0.11em, 0.2em);
      @include root.transition(all, 0.2s);

      text-transform: uppercase;
      letter-spacing: 0.08em;
      padding: 0.25em;

      &.toBeHovered:hover {
        //transform: translateY(0.5em);
        transform: scale(1.05);
        cursor: pointer;
        color: root.$foxy;
      }

      &.specClass {
        color: root.$foxy;
      }
    }
  }
}

#scrolling-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1em);
  height: 1.5em;
  margin: 0 0.5em;
  overflow: hidden;
  background-color: root.$white;

  @include root.transition('left', 5s);

  .scrolling-text {
    margin: 0;
    position: absolute;
    top: 0;
    //left: will be assigned with JS for scrolling text from the right side of the parent to the left
    width: max-content;
    color: root.$violet;
    font: {
      size: 1em;
      weight: 700;
    }
    line-height: 1.5em;
    letter-spacing: 0.04em;
  }
}