@import '../../styles/scss/global_styles/_variables';
@import "../../styles/scss/global_styles/mixins";


.aside-item-wrapper {
  width: 100%;
  text-align: left;

  h3 {
    color: $foxyGrey;
    letter-spacing: 1px;
    margin: 15px auto 3px;
    @include text-shadow(2px, 3px);
  }

  .spanDetails {

  }

  .subHeading {
    display: block;
    margin:10px auto 5px;
  }

  .subDetails {
    display: block;
  }

  .graph-section {

  }

  .graph-wrapper {

  }

}