@import '../../styles/scss/global_styles/_variables';
@import "../../styles/scss/global_styles/mixins";


.aside-item-wrapper {
  text-align: left;
  padding: 0.5em 0 1em;

  h3 {
    color: $foxyGrey;
    letter-spacing: 1px;
    //margin: 1em auto 3px;
    @include text-shadow(2px, 3px);
  }

  .spanDetails {
    letter-spacing: 0.05em;

    @include init-font(14px, 400);
  }

  .subHeading {
    display: block;
    margin:15px auto 5px;
  }

  .subDetails {
    display: block;
  }

  .graph-section {
    max-width: 225px;
  }

  .graph-wrapper {

  }

}