@import '../../styles/scss/global_styles/_variables';
@import "../../styles/scss/global_styles/mixins";


.aside-item-wrapper {
  //width: 200px;
  text-align: left;
  padding: 0 3px;

  h3 {
    color: $foxyGrey;
    letter-spacing: 1px;
    margin: 20px auto 3px;
    @include text-shadow(2px, 3px);
  }

  .spanDetails {

  }

  .subHeading {
    display: block;
    margin:10px auto 5px;
  }

  .subDetails {
    display: block;
  }

  .graph-section {
    border: 2px dotted green;
  }

  .graph-wrapper {

  }

}