@import "../../styles/scss/global_styles/_variables";
@import "../../styles/scss/global_styles/_mixins";
@import "../../styles/scss/global_styles/_animations";

.contentBar {
  flex-grow: 1;
  flex-basis: 450px;
  color: $blue;
  padding-left: 1.8em;
  padding-bottom: 2em;

  .heading {
    letter-spacing: 0.13em;
    background: linear-gradient(90deg, $white, $foxy);
    @include text-shadow(1px, 2px);
    //@include init-font(1.6em, 700);
    font: {
      size: 1.6em;
      weight: 700;
    }

    padding: 1em 0;
  }

  .contentWrapper {
    position: relative; //for loading icon

    @include scroll-init(5px, $blueDark, $foxyGrey);
    //@include init-font(16px, 400);

    &.personal-spec {
      max-width: 555px;
      line-height: 1.5em;
      margin: 1em auto;
    }
  }
}
