@import "../../styles/scss/global_styles/_variables";
@import "../../styles/scss/global_styles/_mixins";
@import "../../styles/scss/global_styles/_animations";

.asideBar {
  position: relative;
  //width: 270px;
  flex-basis: 270px;
  min-height: 1020px;
  color: $white;
  background-color: $blueDark;
  padding: 1.4em;
  user-select: text;
  cursor: default;

  @include flex-box($flex-box-row-top...);

  .hero-name {  //:)
    @include init-font(22px, 700);
    @include text-shadow(2px, 4px);

    width: 100%;  //it will take all the raw of the container in flex
    color: $foxy;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  .imageContainer {
    max-width: 350px;
    margin: 20px 0;
    @include flex-box($flex-box-row-center...);

    img {
      width: 100%;
    }
  }


}

.sectionList {
  .sectionName {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;

    @include init-font(1.25em, 700);
    @include text-shadow(3px, 4px);
    @include transition();

    &.toBeHovered:hover {
      transform: translateX(7px);
      cursor: pointer;
    }

    &.specClass {
      color: $foxy;
    }
  }
}