@import "../../styles/scss/global_styles/_variables";
@import "../../styles/scss/global_styles/_mixins";
@import "../../styles/scss/global_styles/_animations";

.asideBar {
  position: relative;
  //width: 17em;
  flex-basis: 17em;
  min-height: 1100px; //for the starting loading empty page
  color: $white;
  background-color: $blue;
  padding: 1.7em 1.4em;
  user-select: text;
  cursor: default;

  @include flex-box($flex-box-col-top...);
  align-items: flex-start;
  flex-wrap: nowrap;

  .hero-name {  //:)
    @include init-font(22px, 700);
    @include text-shadow(2px, 4px);

    width: 100%;  //it will take all the raw of the container in flex
    color: $foxy;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  .imageContainer {
    max-width: 22em;
    margin: 1.2em 0;
    @include flex-box($flex-box-row-center...);

    img {
      width: 100%;
    }
  }


}

.sectionList {
  .sectionName {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.2em;

    @include init-font(1.25em, 700);
    @include text-shadow(3px, 4px);
    @include transition();

    &.toBeHovered:hover {
      transform: translateX(7px);
      cursor: pointer;
    }

    &.specClass {
      color: $foxy;
    }
  }
}